@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

:root {
	--roze: #ff08e8;
	--blauw: #01f9c6;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "IBM Plex Mono", monospace;
	color: #fff;

	background-image: url(img/mars1.jpg);
	
	background-size: cover;
	background-position: center;
	font-size: 1.6rem;

	padding: 6.4rem;
	height: 100vh;
}

main {
	margin: 8rem;
}

#datum {
	font-size: 4.8rem;
	text-align: center;
	padding: 4rem;
	border: 1px solid var(--roze);
	background-color: black;
	box-shadow: 3px 4px 9px var(--blauw);
	margin: 3.2rem;

	animation: date 1s ease-in;
}

#tijd {
	background-color: rgb(0, 0, 0);
	border-radius: 1.6rem;
	text-align: center;
	margin: 2.4rem;
	padding: 3.2rem;
	font-size: 6.4rem;
}

#tekst {
	font-size: 4.8rem;
}

.dagfase {
	padding: 4rem;
	margin: 3.2rem;
	border-radius: 1.6rem;
	animation: springIn 1s ease-in;
	text-align: center;
}

.ochtend {
	background-color: #eac4d5;
}

.middag {
	background-color: #809bce;
}

.avond {
	background-color: #fca311;
}

.nacht {
	background-color: #14213d;
}

@keyframes springIn {
	0% {
		opacity: 0;
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		opacity: 100;
	}
}

@keyframes date {
	0% {
		transform: translateX(1em);
	}

	50% {
		transform: translateY(2em);
	}

	100% {
		transform: translateY(0);
	}
}

/* MEDIA QUERIES */

/* tablet */
@media only screen and (min-width: 768px) {
	body {
		font-size: 2.1rem;
		padding: 3.2rem;
	}

	#datum, .dagfase {
		margin: 9.2rem;
	}
}

/* laptop */
@media only screen and (min-width: 1024px) {
	body {
		background-image: url(img/mars2.jpg);
		background-size: cover;
		background-position: center;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	#datum, .dagfase {
		font-size: 5.2rem;
		margin: 3.2rem;
	}
}

/* large screen */
@media only screen and (min-width: 1440px) {
	body {
		background-image: url(img/space.jpg);
		background-size: cover;
		background-position: center;
		padding: 3.2rem;
	}

	#datum, .dagfase {
		font-size: 6.4rem;
		margin: 12rem;
	}
}
